# AWS configuration
AWS_REGION=
AWS_PROFILE=
AWS_ACCOUNT_ID=

# Environment
ENVIRONMENT=development
LOG_LEVEL=INFO

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=claims_db
DB_USER=postgres
DB_PASSWORD=

# s3
S3_BUCKET_NAME=
S3_REGION=

# RDS
RDS_ENDPOINT=localhost
RDS_PORT=5432

# AWS_PROFILE
API_HOST=
API_PORT=
API_DEBUG=True

# Model
MODEL_PATH=./ml_models/model/
FEATURE_TRANSFORMER_PATH=./ml_models/models/

# Testing
TEST_DATA_PATH=./tests/fixtures/