__pycache__
*.pyc
*.pyo
*.egg-info
.git
.github
.vscode
.env
*.md
docs/
tests/
scripts/
infrastructure/
*.zip
*.tar.gz
venv/
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage
*.log
.editorconfig
.pre-commit-config.yaml
.gitattributes
.gitignore
docker-compose*.yml
Dockerfile*
mlproject.egg-info/
project-working-tree.zip
